#canvas {
    border: 5px solid #020202;
    background-color:rgb(41, 144, 7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 900px;

}